# Dependency files
*.dep

# Build folders
linux*Clang*/
linux*Gcc*/
linux*Icc*/
linuxming*/
SiCortex*Gcc*/
solaris*Gcc*/
SunOS*Gcc*/
platforms/

# Symbolic link dirs
lnInclude

# Other
*.html

#OSX
.DS_Store
