# Dependency files
*.dep

# Build folders
linux*Clang*/
linux*Gcc*/
linux*Icc*/
linuxming*/
SiCortex*Gcc*/
solaris*Gcc*/
SunOS*Gcc*/
platforms/

# Symbolic link dirs
lnInclude

# Other
*.html

# OSX
.DS_Store

# CMake stuff
build
CMakeFiles
cmake_install.cmake
Makefile
CMakeUserPresets.json

# Clangd
.cache
